Repository NREL/OpenStudio-HPXML, pull requests merged in 2022-09, with the labels that each got.

#1171 Consolidate write vs report methods
  ReportHPXMLOutput/measure.rb
  ReportHPXMLOutput/measure.xml
  ReportHPXMLOutput/tests/hpxml_output_report_test.rb
  ReportSimulationOutput/measure.rb
  ReportSimulationOutput/measure.xml
  ReportSimulationOutput/tests/output_report_test.rb
  ReportUtilityBills/measure.rb
  ReportUtilityBills/measure.xml
  ReportUtilityBills/tests/utility_bills_test.rb
  workflow/tests/base_results/results_bills.csv
Labels: bug

#1186 Revert kiva workaround
  HPXMLtoOpenStudio/measure.xml
  HPXMLtoOpenStudio/resources/constructions.rb
  workflow/tests/base_results/results.csv
  workflow/tests/base_results/results_bills.csv
Labels: openstudio

#1127 Updated HPXML validation
  .github/workflows/config.yml
  BuildResidentialHPXML/measure.rb
  BuildResidentialHPXML/measure.xml
  BuildResidentialHPXML/tests/build_residential_hpxml_test.rb
  BuildResidentialScheduleFile/measure.xml
  Gemfile
  Gemfile.lock
  HPXMLtoOpenStudio/measure.rb
  HPXMLtoOpenStudio/measure.xml
  HPXMLtoOpenStudio/resources/hpxml.rb
  HPXMLtoOpenStudio/resources/hpxml_schematron/EPvalidator.xml
  HPXMLtoOpenStudio/resources/hpxml_schematron/HPXMLvalidator.xml
  HPXMLtoOpenStudio/resources/hpxml_schematron/iso-schematron.xsd
  HPXMLtoOpenStudio/resources/meta_measure.rb
  HPXMLtoOpenStudio/resources/validator.rb
  HPXMLtoOpenStudio/resources/xmlhelper.rb
  HPXMLtoOpenStudio/resources/xmlvalidator.rb
  HPXMLtoOpenStudio/tests/test_validation.rb
  docs/source/workflow_inputs.rst
  tasks.rb
  workflow/tests/hpxml_translator_test.rb
Labels: performance, openstudio, refactor

#1183 Optional `GroundConductivity` input
  BuildResidentialHPXML/measure.rb
  BuildResidentialHPXML/measure.xml
  Changelog.md
  HPXMLtoOpenStudio/measure.rb
  HPXMLtoOpenStudio/measure.xml
  HPXMLtoOpenStudio/resources/constructions.rb
  HPXMLtoOpenStudio/resources/hpxml.rb
  HPXMLtoOpenStudio/resources/hpxml_defaults.rb
  HPXMLtoOpenStudio/resources/hpxml_schematron/EPvalidator.xml
  HPXMLtoOpenStudio/resources/hvac.rb
  HPXMLtoOpenStudio/resources/hvac_sizing.rb
  HPXMLtoOpenStudio/resources/materials.rb
  HPXMLtoOpenStudio/tests/test_defaults.rb
  HPXMLtoOpenStudio/tests/test_hvac_sizing.rb
  HPXMLtoOpenStudio/tests/test_validation.rb
  docs/source/workflow_inputs.rst
  tasks.rb
  workflow/sample_files/base-misc-ground-conductivity.xml
  workflow/tests/base_results/results.csv
  workflow/tests/base_results/results_bills.csv
  workflow/tests/base_results/results_hvac_sizing.csv
Labels: enhancement
